# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/

# Django
.env
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
